<div class="form-group">
  <span class="control-label">author: </span>
  {{input type="text" value=author class="form-control"}}
</div>
<div class="form-group">
  <span class="control-label">genre: </span>
  {{input type="text" value=genre class="form-control"}}
</div>

