<div class="col-md-8">
  <legend>Edit Book</legend>
  {{partial 'books/form'}}
  <button type="submit" {{action 'save'}} class="btn btn-success">Update</button>
  <button type="submit"{{action 'delete'}} class='btn btn-danger'>Delete</button>
</div>
